<div class="p-3">

    <button class="btn btn-primary w-100 mb-3">
        Nova Conversa
    </button>

    <div class="list-group">

        <a href="#"
           class="list-group-item list-group-item-action">
            Conversa 1
        </a>

        <a href="#"
           class="list-group-item list-group-item-action">
            Conversa 2
        </a>

    </div>

</div>